body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0;
}

.headercontainer {
  background: linear-gradient(to right, #ffd700, #7aafd4);
  color: #fff;
  padding: 30px 0;
}

.animate-header {
  animation: headerfadein 1s forwards;
}

.animate-header-delay {
  animation: headerfadein 1s forwards;
  animation-delay: 0.5s;
}

@keyframes headerfadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  word-wrap: break-word;
}

.container {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  background-color: #4c6d8f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#qrScan {
  background-color: #7aafd4;
}

#readerConsumer {
  margin-top: 20px;
}

#decodeConsumer:not(:empty),
#swapHashCodeConsumer:not(:empty),
#string-random:not(:empty),
#qr-container:not(:empty),
#hashstatus:not(:empty) {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#decodeConsumer:empty,
#swapHashCodeConsumer:empty,
#string-random:empty,
#qr-container:empty,
#hashstatus:empty {
  display: none;
}


#hashstatus {
  font-weight: bold;
}

#qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#qrcode {
  margin-right: 20px;
}

#description {
  max-width: 300px;
}
#decodeConsumer {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 200px;
}

#decodeConsumer:hover {
  white-space: initial;
  overflow: visible;
  max-width: initial;
}
